<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
    </div>
    <div class="col-md-6 bg-light">
      <img
      class="img-fluid mx-auto d-block"
      src="assets/img/ford.png"
      alt="Logo da Ford"
      width="25%"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-2">
      <img
        class="img-fluid d-none d-sm-block"
        src="assets/img/Ranger.png"
        alt="Imagem de um Ford Ranger vermelho"
      />
    </div>
    <div class="col-md-6 bg-light">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
